body {
    background-color:azure;
}

.container_top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url('../images/top_bar');
    background-size:cover;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.title_top{
    position: absolute;
    font-family:cursive;
    left: 43%;
    top: -1%;
    font-size: 25px;

}



.container_main_row{
    display: flex;
    flex-direction:row;
    
}

.column_1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
}

.picture{
    display: flex;
    justify-content: center;
}

.information{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-width: 2px;
    border-style:solid;
    border-radius: 10px;
    padding: 5px;
    
}

p {
    display: inline;
}

.column_2{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.header_1, .header_2, .related_skills{
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 12px;
}

.prog_lang_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.project_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project_row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project_row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column_3{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 15px;
}

.skill_1, .skill_2{
    display: flex;
    flex-direction: row;
}

.skill_1_info, .skill_2_info {
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


